@using Admin.WebApp.Resources
@model Admin.WebApp.Models.FilterGridDialogModel

@{
    Layout = "~/App/Main/views/shared/_filterGridLayout.cshtml";
}

<div class="form-group">
    <label for="number-value1">@Resource.Label_From</label>
    <input class="form-control" ng-model="@Model.NgModelValue1" id="number-value1" type="number">
</div>
<div class="form-group">
    <label for="number-value2">@Resource.Label_To</label>
    <input class="form-control" ng-model="@Model.NgModelValue2" id="number-value2" type="number">
</div>